{% extends 'base.html' %}
{% block title %}
    Help Page
{% endblock %}

{% block content %}
<center>
    <div class="card" style="width: 90rem;">
        <div class="container-fluid text-center">

              <div class="row content">
                  <div class="col-sm-1 sidenav">
                  </div>

                <div class="col-sm-10 text-left">
                  <h1>Welcome</h1>
                  <p>
                      SubBot framework is a tool for primary students and teachers which will help in the provision of learning support.
                      Across the framework, the teachers will acquire the ability to develop the knowledge of the chatbot, and the resulted chatbot will
                      provide answers to the students.
                  </p>
                  <hr>
                  <h3>Question Types</h3>
                  <p>The chatbot is able to reply to 7 different question types.</p>
                    <ul>
                        <li>
                            <div class="myDIV">Definition Question</div>
                            <div class="hide">Example: <br>
                            What is an acute angle?</div>
                        </li>
                        <li>
                            <div class="myDIV">Example Question</div>
                            <div class="hide">Example: <br>
                            What is an example of acute angle?</div>
                        </li>
                        <li>
                            <div class="myDIV">Objective Question</div>
                            <div class="hide">Example: <br>
                                Why am I studying about angle?</div>
                        </li>
                        <li>
                            <div class="myDIV">Difference Question</div>
                            <div class="hide">Example: <br>
                            What is the difference between acute angle and right angle?</div>
                        </li>
                        <li>
                            <div class="myDIV">Procedure Question</div>
                            <div class="hide">Example: <br>
                            I don't know how to do angle addition postulate.</div>
                        </li>
                        <li>
                            <div class="myDIV">Feature Specification Question</div>
                            <div class="hide">Example: <br>
                            What are the components of an angle?</div>
                        </li>
                        <li>
                            <div class="myDIV">Confirmation Question</div>
                            <div class="hide">Example: <br>
                                1. Is an acute angle an angle less than 90 degrees? <br>
                                2. Is it true that acute angle a type of an angle? <br>
                                3. Is a vertice one of the component of the angle? </div>
                        </li>
                    </ul>
                </div>

              </div>
        </div>
      </div>
    </div>
</center>
{% endblock %}
